html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Update
    style.
      *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      }
      div {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%,-50%);
      flex-direction: column;
      }
      h1{
      font-size: 3rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      }
      p{
      font-size: 3rem;
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
      a{
            font-size: 1.5rem;
            float:right;
       }
  body
    div
      h1 Congrats !! Your Has Been Updated
      br
      a(href='/' target='_blank') HOME
